@charset "utf-8";

a{
    text-decoration: none;
}
body{
    font-family: 'Noto Sans TC', 'Open Sans';
}
.h1_mo{
	display: none;
}
/* nav ------------------*/
.nav-item{
    padding-right: 20px;
    padding-top: 20px;
}
.container-fluid .logo{
    padding-right: 14px;
}

/* intro ----------------------*/
img{
	max-width:100%;
}
#intro .jumbotron{
    background-image: url(../pictures/mainbg_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 70vh;
    margin-bottom: 0px;
}
#intro .jumbotron .container{
	position:relative;
    top: 50%;
    transform: translate(0, -50%);
}
.btn-primary {
    color: #fff;
    background-color: #32b2e5;
    border-color: #32b2e5;
    border-radius: 100px;
}
.btn-primary:hover {
    background-color: #2284aa;
    border-color: #2284aa;
}

/* second ------------------------------*/
#second{
	padding: 80px 0px;
}
#second h3, #latest h3{
	margin-bottom: 70px;
	font-size: 32px;
}
#second img{
	border-radius: 100%;
    width: 108px;
}
#second h5{
	margin-top: 22px;
    font-size: 16px;
}
p{
	font-size: 16px;
    line-height: 26px;
    color: #707070;
}
p.lead{
	color: black;
	line-height: 31px;
}
.text-left{
    text-align: left;
}

/* latest ------------------------*/
#latest {
	background: rgb(248, 248, 248);
	padding: 80px 0px;
}
#latest .upper{
	position:relative;
}
#latest .innertext{
	position:absolute;
	bottom:20px;
	left:30px;
}
#latest .innertext span{
	background: rgba(255,255,255,0.5);
    padding: 5px 16px;
    border-radius: 30px;
    transition: 0.3s;
}
#latest .innertext span:hover{
    background: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.308);;
}
#latest h4{
	font-size: 19px;
    margin-top: 18px;
}
#latest .lower{
	    padding: 22px;

}
#latest .col-md-4 .outer{
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.08);
	padding: 0px;
	margin: 0 5px;
}
#latest .lower h3{
	font-size: 21px;
	margin-bottom: 20px;
}
#latest a{
	color:black;
}
#latest a{
	color:black;
	text-decoration: none;
}
#latest i{
	margin-right:5px;
}
.outer{
    background-color: #fff;
}
#latest .clock{
    line-height: 42px;
    color: #f05f5c;
}

/* email --------------------*/
#email{
	padding: 80px 0px
}
#email p{
	margin-top: 40px;
}
#email .btn{
	margin-top: 10px;
	font-size: 16px;
}

/* footer -----------------------*/
footer{
    padding: 80px 0px;
	border-top: 1px solid rgba(0,0,0,0.09);
}
footer img{
	margin-bottom: 30px;
}
footer h4{
	font-size: 20px;
    margin-bottom: 35px;

}
footer ul{
	list-style: none;
    padding: 0;
}
footer ul a{
	color: #707070;
}
footer a{
	color:#f05f5c;
}
footer a:hover{
	color:#f05f5c;
}
footer ul a:hover{
	color: #707070;
	text-decoration: none;
	opacity: 0.8;
}
footer ul li{
	margin-bottom: 10px;
}
footer ul{
	float: left;
    margin-right: 46px;
}


@media only screen and (max-width: 768px) {
    #intro .jumbotron{
        background-image: url(../pictures/mainbg_1_s.jpg);
    }
	#second h5 {
	    margin-bottom: 50px;
	}
	#latest .col-md-4{
		margin-bottom: 60px;
	}
	footer h4 {
	    font-size: 17px;
	    margin-top: 30px;
	    margin-bottom: 18px;
    }
	.display-4{
		font-size: 3rem;
	}
	.upper img{
		width: 100%;
	}
}

@media only screen and (max-width: 520px) {
	#intro{
		text-align: center;
	}
	.h1_mo{
		display: block;
	}
	.h1_pc{
		display: none;
	}
	#email .text-left {
		text-align: center;
	}
	footer .text-left {
		text-align: center;
	}
	footer ul {
		float: none;
		margin-right: 0;
	}
	.container-fluid .logo{
		width: 200px;
	}
	#second .lead{
		text-align: center;
		font-size: 1.5rem;
		padding-right: 3%;
		padding-left: 3%;
		line-height: 36px;
	}
}


#gotop{
    display: none;
    width: 50px;
    height: 50px;
    background: #9dbe2ede;
    position: fixed; /* 固定定位 */
    bottom: 25px;
    left: 25px;
    padding: 5px;
    cursor: pointer;
}